<h1 class="mt-4">Dashboard</h1>

<p class="lead mb-3">You are Sucessfully registered and  logged in</p>
<p class="lead mb-3">Welcome User</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>